*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: rgb(154,25,11);
    background: radial-gradient(circle, rgba(154,25,11,1) 0%, rgba(14,1,2,1) 100%);
}
#wrapper{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.pic{
    min-height:50vh;
}
.title{
    padding:20px;
    font-size: 20px;
    font-weight:bolder;
    color: blanchedalmond;
}
button{
    padding:12px;
    border:1px solid black;
    border-radius:50px;
    background-color:black;
    color: white;
    font-weight:bolder ;
    cursor:grab;

}
